{% extends 'base.html.twig' %}

{% block title %}Modifier Album{% endblock %}
{%form_theme form 'bootstrap_4_layout.html.twig'%}

{% block body %}
        	<!--  section -->
	<section class="page-info-section set-bg" data-setbg="img/page-info-bg.jpg">
		<div class="container">
			<div class="section-title text-center">
				<h2>Modifier Album</h2>	
			</div>
		</div>
	</section>

    {{ include('albums/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

</br></br>
    <a href="{{ path('albums_index') }}">Retour aux Albums</a>
{% endblock %}
