{% extends 'base.html.twig' %}

{% block title %}Nouvelle Tournée/Concert{% endblock %}
{%form_theme form 'bootstrap_4_layout.html.twig'%}

{% block body %}
<!--  section -->
<section class="page-info-section set-bg" data-setbg="/img/page-info-bg.jpg">
	<div class="container">
		<div class="section-title text-center">
        <h2>Nouvelle Tournée/Concert</h2>
		</div>
	</div>
</section>
<!--  section end -->
    {{ include('tour/_form.html.twig') }}
    </br>
    </br>
    <a href="{{ path('tour_index') }}">Retour à la liste </a>
{% endblock %}
